@import (reference) 'variables.less';

body {
//    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    letter-spacing: 0em;
    font-family: lato;
    font-weight: 400;
    font-style: normal;
    text-transform: none;
    padding: 0;
    margin: 0;
    .navbar {
        padding: 28px;
        background-color: @background-color;
        transition: all 0.1s ease 0.1s;
        transition-property: padding, box-shadow;
        .search-container {
            width: 100%;
            position: absolute;
            opacity: 0;
            z-index: 0;
            transition: all 0.1s ease 0.1s;
            transition-property: opacity, margin-left;
            margin-left: -28px;
            #search-box {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
            }
            form {
                width: 100%;
            }
            input {
                width: 90%;
                text-transform: uppercase;
                background-color: #0000;
                border-color: #0000;
                color: @text-color;
                font-size: 43px;
                font-weight: 700;
                transition: font-size 0.1s ease 0.1s;
                &:focus {
                    outline-color: #0000;
                }
            }
            i {
                color: @text-color;
                font-size: 26px;
                cursor: pointer;
                transition: color 0.2s ease;
                &:hover {
                    color: @kelly-green;
                }
            }
            &.active {
                opacity: 1;
                z-index: 1;
            }
        }
        .header-container {
            width: 100%;
            opacity: 0;
            z-index: 0;
            transition: opacity 0.1s ease 0.1s;
            &.active {
                opacity: 1;
                z-index: 1;
            }
        }
        .navbar-brand,
        .nav-link {
            cursor: pointer;
            img {
                height: 82px;
                transition: height 0.1s ease 0.1s;
            }
        }
        .navbar-collapse {
            flex-grow: 0;
            transition: top 0.1s ease 0.1s;
            @media @mobile {
                position: absolute;
                left: 0;
                padding: 0 24px 0px;
                width: 100%;
                top: 148px;
                background: @background-color;
            }
        }
        .nav-link {
            color: @text-color !important;
            margin-right: 2rem !important;
            font: 18px lato, sans-serif;
            transition: color 0.2s ease;
            &:hover {
                color: @kelly-green !important;
            }
        }
        &.stuck {
            padding: 12px 28px;
            box-shadow: 0 1px 5px @background-color;
            .navbar-collapse {
                top: 105px;
            }
            input {
                font-size: 30px;
            }
            img {
                height: 75px;
            }
        }
    }
    .jumbotron {
        padding: 0;
        background-image: url('../images/backgrounds/downtown_frederick.jpg');
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        position: relative;
        margin: 0;
        &.blog, &.contact {
            .promo {
                padding: 7rem 0;
                h3 {
                    text-transform: none;
                }
                h6 {
                    margin: 1rem 0 0;
                    font-weight: 600;
                }
            }
        }
        &.blog {
            background-image: url('../images/backgrounds/frederick_blog.jpg');
        }
        &.contact {
            background-image: url('../images/backgrounds/contact_us.jpeg'); 
        }
        .overlay {
            position: absolute;
            min-height: 100%;
            min-width: 100%;
            left: 0;
            top: 0;
            background-color: rgba(255, 255, 255, 0.5);
        }
        .promo {
            display: flex;
            font-family: 'Barlow Semi Condensed', sans-serif;
            padding: 10rem 0;
            h3 {
                text-transform: uppercase;
                line-height: 1;
                margin: 0;
                color: @background-color;
            }
            h6 {
                font-size: 24px;
                margin: 2rem 0;
            }
            button {
                text-transform: uppercase;
                background-color: @kelly-green;
                border-color: @kelly-green;
            }
        }
    }
    .cards {
        font-family: 'Barlow Semi Condensed', sans-serif;
        background-color: @background-color;
        padding: 6rem 0;
        h2 {
            color: @text-color;
            text-transform: uppercase;
            margin-bottom: 2rem;
        }
        button {
            text-transform: uppercase;
            background-color: @kelly-green;
            border-color: @kelly-green;
        }
    }
    .contact-section {
        padding: 7rem 0;
        .card {
            padding: 22px;
            box-shadow: #0003 0px 1px 2px 0;
            top: 0;
            transition: all 0.1s ease;
            transition-property: box-shadow, top;
            text-align: center;
            &:hover {
                top: -4px;
                box-shadow: 0 2px 3px rgba(0,0,0,0.3);
            }
            h3 {
                color: #444;
                text-transform: uppercase;
                font-size: 22px;
                line-height: 34px;
            }
            p {
                margin: 0;
                a {
                    color: @kelly-green;
                    transition: color 0.2s ease;
                    text-decoration: none;
                    &:hover {
                        color: #676767;
                    }
                }
            }
        }
        h2 {
            margin: 2rem 0;
            font-size: 34px;
        }
        form {
            p {
                margin: 0;
            }
            input, textarea {
                width: 100%;
                border: 0;
                -webkit-appearance: none;
                margin-bottom: 27px;
                background-color: #f1f1f1;
                line-height: 24px;
                padding: 10px;
                font-size: 14px;
                &:focus {
                    outline: none;
                }
            }
            .form-bottom {
                display: flex;
                justify-content: space-between;
                input[type=submit], input[type=reset] {
                    cursor: pointer;
                    width: auto;
                    font-family: Lato;
                    padding: 10px 22px;
                    background-color: @kelly-green;
                    color: @text-color;
                    border-radius: 3px;
                    margin-right: 2rem;
                    margin-bottom: 0;
                }
                @media @mobile {
                    display: block;
                    .g-recaptcha {
                        margin-top: 2rem;
                    }
                }
            }
        }
    }
    .testimonials {
        background-color: @kelly-green;
        padding: 4rem 0;
        .row {
            margin: 0;
            .col-4, .col-6, .col-12 {
                padding: 5px 15px 5px 5px;
                .card {
                    padding: 20px;
                }
            }
        }
        .wpbr-review__header {
            display: flex;
            .wpbr-review__reviewer-image {
                height: 60px;
                margin-right: 10px;
                overflow: hidden;
                width: 60px;
                img {
                    width: 100%;
                }
            }
            .wpbr-review__details {
                .wpbr-review__platform-icon {
                    position: absolute;
                    background-image: url('https://www.federaltitle.com/wp-content/plugins/wp-business-reviews/assets/dist/images/sprite-google-places.png');
                    background-position: -10px -66px;
                    background-size: 200px 94px;
                    background-repeat: no-repeat;
                    right: 20px;
                    top: 20px;
                    display: block;
                    height: 18px;
                    width: 18px;
                }
                .wpbr-review__reviewer-name {
                    margin-right: 30px;
                    color: #5d6f80;
                    font-family: inherit;
                    font-size: 1em;
                    line-height: 1.3;
                    margin: 0 30px 2.5px 0;
                    word-wrap: break-word;
                }
                .wpbr-review__rating {
                    display: block;
                    line-height: 0;
                    margin-bottom: 5px;
                    .wpbr-stars {
                        background-image: url(https://www.federaltitle.com/wp-content/plugins/wp-business-reviews/assets/dist/images/sprite-google-places.png);
                        background-position: -100px -10px;
                        background-repeat: no-repeat;
                        background-size: 200px 94px;
                        display: inline-block;
                        height: 18px;
                        width: 90px;
                        &.wpbr-stars--1 {
                            background-position: -82px -10px;
                        }
                        &.wpbr-stars--1-half {
                            background-position: -82px -38px;
                        }
                        &.wpbr-stars--2 {
                            background-position: -64px -10px;
                        }
                        &.wpbr-stars--2-half {
                            background-position: -64px -38px;
                        }
                        &.wpbr-stars--3 {
                            background-position: -46px -10px;
                        }
                        &.wpbr-stars--3-half {
                            background-position: -46px -38px;
                        }
                        &.wpbr-stars--4 {
                            background-position: -28px -10px;
                        }
                        &.wpbr-stars--4-half {
                            background-position: -28px -38px;
                        }
                        &.wpbr-stars--5 {
                            background-position: -10px -10px;
                        }
                    }
                }
                .wpbr-review__timestamp {
                    color: #5d6f80;
                    font-size: 75%;
                }
            }
        }
        .wpbr-review__content {
            margin-top: 10px;
            p {
                margin: 0;
                color: #5d6f80;
                a {
                    color: @kelly-green;
                }
            }
        }
        .carousel-indicators {
            bottom: -40px;
            li {
                height: 10px;
                width: 10px;
                border-radius: 50%;
                margin-right: 5px;
                margin-left: 5px;
            }
        }
    }
    .posts {
        padding: 3rem 2rem;
        background-color: @kelly-green;
        color: @text-color;
        .card {
            max-width: 20%;
            margin: 1rem;
            padding-top: 15px;
            padding-bottom: 15px;
            img {
                width: 100%;
                margin-bottom: 15px;
            }
            .article-content-wrap {
                .post-header {
                    .title {
                        a {
                            transition: color 0.2s ease;
                            color: @kelly-green;
                            text-decoration: none;
                            font-size: 20px;
                            font-family: Roboto;
                            &:hover {
                                color: @background-color;
                            }
                        }
                    }
                    span {
                        font-size: 11px;
                        color: #888;
                        a {
                            color: #888;
                        }
                    }
                }
            }
        }
    }
    .announcement {
        background-color: @kelly-green;
        color: @text-color;
    }
    footer {
        font-family: Lato;
        background-color: @background-color-light;
        a {
            text-decoration: none !important;
            transition: color 0.2s ease;
            &:hover {
                color: @kelly-green !important;
            }
        }
        .footer-container {
            padding: 3rem 0;
            p, a {
                color: @text-color;
                margin: 0;
            }
            img {
                height: 100px;
                margin-bottom: 3rem;
            }
            h6 {
                color: #777;
                letter-spacing: 2px;
                text-transform: uppercase;
                font-family: "Open Sans";
                font-size: 12px;
                margin-bottom: 20px;
                line-height: 32px;
            }
            ul {
                margin: 0;
                padding: 0;
                li {
                    margin-bottom: 16px;
                    &:not(:first-child) {
                        margin-top: 16px;
                    }
                }
            }
        }
        .footer-bottom {
            padding: 20px 0;
            background-color: @background-color;
            .container {
                align-items: center;
            }
            p {
                font-size: 12px;
                margin: 0;
                color: #777;
            }
            .contact-icons {
                a {
                    margin-left: 20px;
                    color: #777;
                    font-size: 20px;
                }
            }
        }
    }
}
