/* Screen sizes */

@desktop: ~"only screen and (min-width: 840px)";
@tablet: ~"only screen and (min-width: 600px) and (max-width: 839px)";
@mobile: ~"only screen and (max-width: 599px)";

/* Colors */
@background-color: black;
@text-color: white;
@secondary-color: #469254;
@teal: #68a2b9;
